
  <div>
    <p>
      This app is designed as a companion application for the Tenders Online website for the Government of the Northern Territory of Australia. 
      If you wish to register for an account or find more infomation regarding anything you see in this app, please visit 
      <a href="https://tendersonline.nt.gov.au/">https://tendersonline.nt.gov.au/</a>
    </p>

    <button click.delegate="doAlert()">Test</button>

    <p>&copy; 2015 Northern Territory Government - All Rights Reserved</p>
    <p>Version 3.0</p>
  </div>
